body{
    background: rgb(233, 200, 13)
}
#Potes
{
    width: 20%;
}
#cartela
{
    width: 10%;
}
#alho frito{
    width: 1%;
}

h1{
    text-align: center;
    font-size: 60px;
    background-color: chocolate;
    color: rgb(233, 200, 13)
}
p{
    text-align: justify;
    font-size: 40px;
    color: rgb(43, 145, 145);
    
}

     
    
