body{
    background: rgb(209, 184, 39)
}
h1{
    text-align: justify;
    font-size: 25px;
    background-color: chocolate;
}
p{
    text-align: justify;
    font-size: 25px;
    color: rgb(43, 145, 145);
    
}

}
em strong{
    text-align: center;
    font-size: 40px;
    color: rgb(43, 145, 145);
    
    
}